Package: ezetranslate
Version: 1.6
Section: utils
Priority: optional
Architecture: amd64
Depends: xclip, gnome-screenshot, tesseract-ocr, tesseract-ocr-eng
Maintainer: Ericwyn <Ericwyn.chen@gmail.com>
Description: EzeTranslate is a translation tool.
