[Desktop Entry]
Version=1.0
Type=Application
Name=EzeTranslate
Exec=/opt/EzeTranslate/EzeTranslate
Icon=/opt/EzeTranslate/res-static/icon/icon.png
Terminal=false
Categories=Utility;
