[Desktop Entry]
Version=1.0
Type=Application
Name=EzeTranslate
Exec=/opt/EzeTranslate/EzeTranslate
Icon=/usr/share/pixmaps/EzeTranslate.png
Terminal=false
Categories=Utility;
